.heading-primary {
  font-size: 6rem;
  color: var(--color-secondary);
  display: block;
  width: 30rem;
  margin: 10rem auto;
  border-bottom: 2px solid var(--color-secondary);
}

.content {
  max-width: 80rem;
  margin: 0 auto;
}
.paragraph {
  font-size: 1.8rem;
  line-height: 1.7;
  color: #eee;
}
