*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --main-color: #202020;
  --main-color-light: #777;
  --main-color-light-2: #999;
  --color-white: #fff;
  --color-grey-light: #e7e7e7;
  --color-secondary: #cf7d01;
  --color-secondary-dark: #8d5500;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-color);
}
p {
  color: #eee;
  font-size: 1.6rem;
}
.container {
  max-width: 150rem;
  margin: 0 auto;
}
.grid {
  display: grid;
}

.grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
}
